Integration Middleware/application.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!-- Created with Liquid XML 2015 Developer Bundle Edition (Education) 13.2.3.6018 (http://www.liquid-technologies.com) -->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
    <xsd:element name = "application">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="nric" type="xsd:string" />
                <xsd:element name="licencePlate" type="xsd:string" />
                <xsd:element name="name" type="xsd:string" />
                <xsd:element name="vehicleType" type="xsd:string" />
                <xsd:element name="currentPremium" type="xsd:int"/>
                <xsd:element name="startDate" type="xsd:dateTime" />
                <xsd:element name="endDate" type="xsd:dateTime" />
                <xsd:element name="drivingTier" type="xsd:string" />
                <xsd:element name="email" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
