Integration Middleware/GetAssessmentResult.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://ws.apache.org/axis2">
<wsdl:types>
<xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://ws.apache.org/axis2">
<xs:element name="generate">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="generateResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="generateRequest">
<wsdl:part name="parameters" element="ns:generate"/>
</wsdl:message>
<wsdl:message name="generateResponse">
<wsdl:part name="parameters" element="ns:generateResponse"/>
</wsdl:message>
<wsdl:portType name="GetAssessmentResultPortType">
<wsdl:operation name="generate">
<wsdl:input message="ns:generateRequest" wsaw:Action="urn:generate"/>
<wsdl:output message="ns:generateResponse" wsaw:Action="urn:generateResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="GetAssessmentResultSoap11Binding" type="ns:GetAssessmentResultPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="generate">
<soap:operation soapAction="urn:generate" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="GetAssessmentResultSoap12Binding" type="ns:GetAssessmentResultPortType">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="generate">
<soap12:operation soapAction="urn:generate" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="GetAssessmentResultHttpBinding" type="ns:GetAssessmentResultPortType">
<http:binding verb="POST"/>
<wsdl:operation name="generate">
<http:operation location="generate"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="GetAssessmentResult">
<wsdl:port name="GetAssessmentResultHttpSoap11Endpoint" binding="ns:GetAssessmentResultSoap11Binding">
<soap:address location="http://localhost:8080/axis2/services/GetAssessmentResult.GetAssessmentResultHttpSoap11Endpoint/"/>
</wsdl:port>
<wsdl:port name="GetAssessmentResultHttpSoap12Endpoint" binding="ns:GetAssessmentResultSoap12Binding">
<soap12:address location="http://localhost:8080/axis2/services/GetAssessmentResult.GetAssessmentResultHttpSoap12Endpoint/"/>
</wsdl:port>
<wsdl:port name="GetAssessmentResultHttpEndpoint" binding="ns:GetAssessmentResultHttpBinding">
<http:address location="http://localhost:8080/axis2/services/GetAssessmentResult.GetAssessmentResultHttpEndpoint/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>